<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUM</title>
</head>
<body>
    <h1>Crear Asunto:</h1>
    <form action="" method="post">
        <label for="Actividad">Actividad:</label>
        <input type="text" name="Actividad" id="Actividad" maxlength="50" required>
        <label for="Descripcion">Descripción:</label>
        <textarea name="Descripcion" id="Descripcion" maxlength="200" required></textarea>
        <label for="DiasTermino">Dias para el termino:</label>
        <input type="tel" name="DiasTermino" id="DiasTermino">
        <label for="RFCS">Subordinado asignado: </label>
        <select name="RFCS" id="RFCS">
            <% if(!sub || !sub.length){%>
                <option value="null" disabled>No tienes subordinados</option>
            <%} else {
            for (let i = 0; i < sub.length; i++) {%>
                <option value="<%=sub[i].RFC%>"><%=`${sub[i].Nombre} ${sub[i].apPaterno} ${sub[i].apMaterno}`%></option>
            <%}
            }%>
        </select>
        <button type="submit">Crear</button>
    </form>
</body>
</html>